__pycache__/
.github/
.idea/
.terraform.lock.hcl
.terraform/
terraform.tfstate.backup
main.tf
terraform.tfstate
.DS_Store
arrivals.json
arrivals_raw.json
departures.json
departures_raw.json
notes.txt
dep.json
arr.json
arr_dep_full.json
arrivals_full.json
departures_full.json
