.baggage {
    background-color: #FEF500;
    border: 1px solid #B8A731;
    color: black;
	border-radius: 8px;
    padding: 0px;
    width: 38px;
    height: 38px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-style: normal;
    font-variant: full-width;
    font-weight: 500;
    vertical-align: 4px;
    font-family: 'SF Outer Limits Upright', sans-serif;
}

.gate {
    background-color: #FEF500;
    border: 1px solid #B8A731;
    color: black;
	border-radius: 8px;
    padding: 0px;
    width: 70px;
    height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-style: normal;
    font-variant: full-width;
    font-weight: bold;
    vertical-align: 4px;
    font-family: 'Helvitica', sans-serif;
}


.internationalbaggage{
    background-image: linear-gradient(47deg, #fef500 42%, #50d14b 42%, #50d14b 50%, #fef500 50%, #fef500 92%, #50d14b 92%, #50d14b 100%);
    background-size: 38px 38px;
}


.basebutton {
    border-radius: 25px;
    padding: 2px;
    width: 150px;
    height: 32px;
    font-family: Consolas, monaco, monospace;;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    display: inline;
}

.Cancelled {
    background-color: #ff4000;
    border: 2px solid #8585ad;
    color: white;
    text-decoration: line-through;
}

.Delayed {
    background-color: #ff9900;
    border: 2px solid #8585ad;
    color: white;
}

.InAir {
    background-color: #4db8ff;
    border: 2px solid #47a447;
    color: white;
}

.InGate {
    background-color: #996600;  
    border: 2px solid #e5a54b;
    color: white;
}

@keyframes blinker {
    to {
        opacity: 0;
    }
}

.Landed {
    background-color: #999966;
    border: 2px solid #00b33c;
    color: white;
    animation: blinker 2.0s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.InCustoms {
    background-color: #00cc99;
    border: 2px solid #00b33c;
    color: black;
}

.OutGate {
    background-color: #b35900;
    border: 2px solid #00b33c;
    color: white;
}

.Proposed {
    background-color: #80ffbf;
    border: 2px solid #cc0044;
    color: #cc66ff;
}

/*old css*/

.InGate {
    background-color: #c9e769;
    background-color: #996600; 
}

.Scheduled {
    background-color: rgba(51, 153, 51, 1.00);
    color: white;
}

.InAir {
    background-color: skyblue;
    background-color: rgba(51, 204, 255, 1.00);
}

.Delayed {
    background-color:  #CC3333 ;
}

.OutGate {
    background-color: burlywood;
    background-color: #999900;
}

.Cancelled {
    background-color: rgba(245, 2, 2, 0.45);
    text-decoration: line-through;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    height: 50px;
}

iatafont {
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

iab_table, iab_th, iab_td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Consolas, monaco, monospace;
    font-size: 44px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    padding: 10px;
}

/*<p class="basebutton cancelled">Cancelled</p>*/
/*<p class="basebutton delayed">Delayed ↻</p>*/
/*<p class="basebutton inair">In Air ↑</p>*/
/*<p class="basebutton ingate">→ In Gate</p>*/
/*<p class="basebutton landed">Landed ↘</p>*/
/*<p class="basebutton incustoms">Customs ↯</p>*/
/*<p class="basebutton outgate">Outgate →</p>*/
/*<p class="basebutton proposed">Proposed ⇉</p>*/
